/** CSS for Bootsrap Portfolio **/

html, body {
  height: 100%;
  margin: 0;
}

.clearfix {
  display: block;
  clear: both; 
  margin-bottom: 130px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 70px;
}